// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text_field {
width:90%;
}

textarea {
height:100px;
}

#quadradio.input {
float:left;
margin: 0px 20px 12px 20px;
}

#newtaskaction {
float:right;
border-top: none;
padding: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

.quadwrap {
width:960px;
height:600px;
position:relative;
left:32px;
}

.quadbox {
background-image: url(../assets/quadrant.png);
background-repeat:no-repeat;
width:480px;
height:300px;
float:left;
overflow:hidden;
}

.quadbox h2 {
margin-left:18px;
}

.quadbox table {
width:90%;
margin:auto auto;
}

.quadbox table a{
color:black;
}

.tablewrap {
height:200px;
width:480px;
overflow-y: auto;
overflow-x: hidden;
}

